@import '~bootstrap/scss/variables';

.highlight-required {
  .form-group label.required {
    font-weight: 700;
    &::after {
      content: "\22C6";
      color: #c00;
      font-size: 120%;
      margin-left: 2px;
      line-height: 18px;
    }
  }
}

.form-error {
  color: $form-feedback-invalid-color;
  height: 23px;
}

$toast-top-before: 0  !default;
$toast-top: 30px  !default;
$toast-fade-time: 700ms  !default;
$toast-width: $toast-max-width !default;
@keyframes toast-opening {
  from {
    top: $toast-top-before;
    opacity: 0;
  }
  to {
    top: $toast-top;
    opacity: 1;
  }
}

@keyframes toast-closing {
  from {
    top: $toast-top;
    opacity: 1;
  }
  to {
    top: $toast-top-before;
    opacity: 0;
  }
}

.toast-msg {
  position: fixed;
  right: $toast-top;
  animation-name: toast-opening;
  animation-duration: $toast-fade-time;
  top: $toast-top;
  opacity: 1;
  z-index: 1040;
  .toast {
    width: $toast-width;
  }
  &.t-closing {
    animation-name: toast-closing;
    animation-duration: $toast-fade-time;
    top: $toast-top-before;
    opacity: 0;
  }
}
