@import '~bootstrap/scss/variables';

.highlight-required {
  .form-group label.required {
    font-weight: 700;
    &::after {
      content: "\22C6";
      color: #c00;
      font-size: 120%;
      margin-left: 2px;
      line-height: 18px;
    }
  }
}

.form-error {
  color: $form-feedback-invalid-color;
  height: 23px;
}

$toast-top-before: -83px  !default;
$toast-top: 10px  !default;
$toast-width: $toast-max-width !default;
@keyframes toast-opening {
  from {
    margin-top: $toast-top-before;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    margin-top: $toast-top;
    opacity: 1;
  }
}

.toast-msgs {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1040;
}

.toast-msg {
  animation-name: toast-opening;
  animation-duration: 700ms;
  opacity: 1;
  margin-top: $toast-top;
  transition: margin-top 1000ms, opacity 500ms;
  .toast {
    width: $toast-width;
  }
  &.t-closing {
    margin-top: $toast-top-before;
    opacity: 0;
  }
}

.toast-progress {
  height: 3px;
  background: lighten($primary, 30%);
}
